<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Reset Your Password</title>
    </head>
    <body
        style="
            background-color: #ececec;
            font-family:
                Open Sans,
                sans-serif;
        "
    >
        <table
            style="
                width: 550px;
                background-color: white;
                margin: 0 auto;
                box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
                border-radius: 2%;
            "
        >
            <thead></thead>
            <th></th>
            <tbody>
                <tr>
                    <td style="text-align: center">
                        <h1
                            style="
                                margin-inline-end: 8px;
                                text-decoration: none;
                                text-transform: uppercase;
                                border: 3px solid black;
                                letter-spacing: 2px;
                                box-shadow:
                                    1px 1px 0px 0px,
                                    2px 2px 0px 0px,
                                    3px 3px 0px 0px,
                                    4px 4px 0px 0px,
                                    5px 5px 0px 0px;
                                position: inherit;
                                background-color: #bdcbfb;
                            "
                        >
                            <a
                                style="text-decoration: none; color: black"
                                href=""
                                >Polish Finder</a
                            >
                        </h1>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h2 style="text-align: center">Reset your password</h2>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div style="padding: 0.5rem">
                            <p>Hello, username</p>
                            <p>
                                We received a request to reset your password for
                                your Polish Finder account. If you made this
                                request, click the button below to reset your
                                password:
                            </p>
                            <p style="text-align: center">
                                <a href="">Reset your password</a>
                            </p>
                            <p>
                                Or, copy and paste the following link into your
                                browser:
                            </p>
                            <p style="text-align: center">
                                <a href="">Reset Link Goes Here</a>
                            </p>
                            <p>
                                This link is only valid for the next hour. If
                                you don't reset your password within that time,
                                you'll need to request a new one.
                            </p>
                            <p>
                                If you didn't request a password reset, please
                                ignore this email. Your password will remain
                                unchanged.
                            </p>
                            <p>
                                If you need further assistance, feel free to
                                contact us.
                            </p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            <p>Thank you,</p>
                            <p>The Polish Finder Team</p>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
