// Include functions first
@import "bootstrap/scss/functions";

// Required
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";

@import "bootstrap/scss/type";
// @import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
// @import "bootstrap/scss/tables";
// @import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/dropdown";
// @import "bootstrap/scss/button-group";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar"; // Requires nav
// @import "bootstrap/scss/card";
// @import "bootstrap/scss/breadcrumb";
// @import "bootstrap/scss/accordion";
// @import "bootstrap/scss/pagination";
// @import "bootstrap/scss/badge";
// @import "bootstrap/scss/alert";
// @import "bootstrap/scss/progress";
// @import "bootstrap/scss/list-group";
@import "bootstrap/scss/close";
// @import "bootstrap/scss/toasts";
@import "bootstrap/scss/modal"; // Requires transitions
// @import "bootstrap/scss/tooltip";
@import "bootstrap/scss/popover";
// @import "bootstrap/scss/carousel";
// @import "bootstrap/scss/spinners";
@import "bootstrap/scss/offcanvas"; // Requires transitions
// @import "bootstrap/scss/placeholders";

// Helpers
// @import "bootstrap/scss/helpers";

// Utilities
@import "bootstrap/scss/utilities/api";

// custom implementation starts here

.btn-outline-register {
    border-color: #7A006E;
    color: #7A006E;
    &:hover {
        color: white;
        background-color: #7A006E;

    }
}

.btn-outline-sign-in {
    border-color: #6877f4;
    color: #6877f4;
    &:hover {
        color: white;
        background-color: #6877f4;
    }
}

#btn-login-colorful {
    color: #6877f4;
    background: white;
    border-color: #6877f4;
    
    &:hover {
        border-color: transparent;
        color: white;
        background: linear-gradient(110.6deg, #b88efc 2.2%, #6877f4 100.2%);
    }

    &:active {
        border-color: #6050DC;
        background: white;
        color: #6050DC;
    }
}

#btn-register-colorful {
    border-color: #E09540;
    background: white;
    color: #E09540;

    &:hover {
        border-color: transparent;
        color: white;
        background: linear-gradient(90deg, #d23378 0%, #8b1d1d 50%, #ec5500 100%);
    }

    &:active {
        border-color: #E09540;
        background: white;
        color: #E09540
    }
}

.navbar-special-bg {
    background-color: #F2F2F3;
}

@mixin stroke-width($property) {
	-webkit-text-stroke-width: $property;
	-moz-text-stroke-width: $property;
}

@mixin stroke-color($property) {
	-webkit-text-stroke-color: $property;
	-moz-text-stroke-color: $property;
}

.stroke {
    background-color: #fff9e2;
    text-transform: uppercase;
    @include stroke-width(1px);
    @include stroke-color(#FF76CE);
    color: #FBD6DF;
}

.sshadow {
    text-shadow: 2px 2px #FBD6DF;
}

/* Bounce In */
.hvr-bounce-in {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
  }
  .hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active {
    color: #FBD6DF;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  }

.special-hover-btn { 
  cursor:pointer;
    position:relative;
    padding:5px 10px;
    background: #F2F2F3;
    font-size:26px;
    border-top-right-radius:10px;
    border-bottom-left-radius:10px;
    transition:all 0.5s;
    &:after,&:before{
      content:" ";
      width:10px;
      height:10px;
      position:absolute;
      border :0px solid #fff;
      transition:all 0.5s;
      }
    &:after{
      top:-1px;
      left:-1px;
      border-top:3px solid #FF76CE;
      border-left:3px solid #FF76CE;
    }
    &:before{
      bottom:-1px;
      right:-1px;
      border-bottom:3px solid #9B72DD;
      border-right:3px solid #9B72DD;
    }
    &:hover{
      color: #FBD6DF;
      border-top-right-radius:0px;
    border-bottom-left-radius:0px;
      // background:rgba(0,0,0,.5);
      // color:white;
      &:before,&:after{
        
        width:100%;
        height:100%;
        // border-color:white;
      }
    }
  }
  
  .data-container{
    background:#ffebee;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
  }